#my-main-title {
	font-size: 2em;
}

#my-second-title {
	padding: 40px 0;
}

.wrapper-flex {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper-flex > .column-left {
	width: 30%;
}

.wrapper-flex > .column-right {
	width: 70%;
}

#out-border {
	border: none;
	background: transparent;
}

.for-svg {
	width: 150px;
	height: 150px;
}

.for-svg #gear-1 {
	width: 55px;
	height: 55px;
}


@keyframes loader {
	0% {transform:rotate(-45deg)}
	50%{transform:rotate(-135deg)}
	100%{transform:rotate(-225deg)}
}
@keyframes span-1 {
	0% {transform:translate(0);}
	50%{transform:translate(-100px, 0);border-color:#EE4D68}
	100%{transform:translate(0);}
}
@keyframes span-2 {
	0%{transform:translate(0);}
	50%{transform:translate(100px, 0);border-color:#875678}
	100%{transform:translate(0);}
}
@keyframes span-3 {
	0%{transform:translate(0);}
	50%{transform:translate(0, -100px);border-color:#FF9900}
	100%{transform:translate(0);}
}
@keyframes span-4 {
	0%{transform:translate(0);}
	50%{transform:translate(0, 100px);border-color:#00E4F6}
	100%{transform:translate(0);}
}
.loader {
	width: 100px;
	height: 100px;
	position: relative;
	animation: loader 2s infinite ease-in-out;
}
.loader span {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	border: 4px solid #fff;
}
.loader span:nth-child(1) {
  	animation: span-1 2s ease-in-out infinite;
}
.loader span:nth-child(2) {
 	animation: span-2 2s ease-in-out infinite;
}
.loader span:nth-child(3) {
  	animation: span-3 2s ease-in-out infinite;
}
.loader span:nth-child(4) {
  	animation: span-4 2s ease-in-out infinite;
}

canvas{
	background: #000;
	width: 100%;
}

#black {
	color: black;
	text-shadow: 1px 0px 85px rgba(255, 167, 0, 1);
}

.logos-wrapper {
	position: relative;
}

.logos-wrapper .logo-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    transform: rotate(-15deg);
}

.logos-wrapper .logo-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
}

.logos-wrapper .logo-4 {
    position: absolute;
    bottom: -100%;
    left: 10%;
    background: white !important;
    transform: rotate(10deg);
}

.logos-wrapper .logo-5 {
    position: absolute;
    bottom: -130%;
    left: 30%;
    width: 25%;
}

.logos-wrapper .logo-6 {
	position: absolute;
    top: 110%;
    right: 5%;
    transform: rotate(40deg);
}

.logos-wrapper .logo-7 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20%;
}

.logos-wrapper .logo-3 {
	width: 50%;
    position: relative;
    top: 150px;
    left: -20%;
}
